%td
  - palace = @chart.palaces[branch]
  = render partial: 'chart_palaces/modal', locals: {chart_palace: palace}
  .palace.tooltippy{class: branch.animal, data: {palace: palace.palace.to_param, title: 'Click for details'}}
    %h5= link_to "#{palace.ordinal}. #{palace.name}", palace_path(palace.palace.slug)
    = render palace
    - if @person && !(params[:decade] || params[:year]) |
      -# %span.small_limits!= palace.small_limits(@chart, @person) + " (" + link_to(palace.great_limit(@chart, @person), person_path(@person, decade: palace.location.animal)) + ")" 
    %span.palace_location #{palace.location.char} #{palace.location.pinyin} #{palace.location.animal} 
