= form_for @person do |f|
  -if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    %table
      %tr
        %td{colspan: 3}
          %h4 Name
      %tr
        %td= f.text_field :first_name, placeholder: 'First', class: 'input-medium', autocomplete: 'off'
        %td= f.text_field :last_name, placeholder: 'Last', class: 'input-medium', autocomplete: 'off'
        %td= f.select :yin_yang, [['Yin (Female)', 'yin'], ['Yang (Male)', 'yang']]
  .field
    %h4 Birth Date
    = f.text_field :year, placeholder: 'Year (4 digits)', class: 'input-small'
    = f.select :month, Person::MONTHS, class: 'input-small'
    = f.text_field :day, class: 'input-small', placeholder: 'Day'
    %span.input-append.bootstrap-timepicker
      = f.time_field :time, class: 'input-small', placeholder: '12:00 PM'
      %span.add-on
        %i.icon-time
    
  .field#timezone
    = render 'timezone_thingy'
  
  .actions
    = f.submit 'Save'


