
.span6.charts_list
  %h3
    Saved Charts
  = link_to new_person_path, class: 'new_chart', rel: 'tooltip', title: 'Create a New Chart' do
    = image_tag 'icons/new_document.png'
  %ul.unstyled
    = render @people
  = paginate @people, :theme => 'twitter-bootstrap'
.span5
  %h3 Animals
  = render partial: 'animal', collection: Branch::ANIMALS

%br
- if @people.empty?
  %div{align: :center}
    %div Add people you know and their dates of birth.
    %div Click "View PDF Chart" to view the chart in your browser 
    %div (some browsers will just download the file).
    %div Click "Download PDF" to download the file to your computer.

