
.row#chart_container
  .chart.span9.well.well-small
    = render 'charts/title_info'
    = render partial: 'chart_palaces/chart_box', collection: @chart.palaces
  .span3.chart_details.well.well-small
    .shananana
      %ul.nav.nav-tabs.hide
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Choose a Palace
            %b.caret
          %ul.dropdown-menu#palace_selector
            - @chart.palaces.each do |chart_palace|
              %li
                %a{"data-toggle" => "tab", :href => "#chart_palace_#{chart_palace.id}"}= chart_palace.palace.name
      .tab-content
        - @chart.palaces.each do |chart_palace|
          .palace_details.tab-pane.fade[chart_palace]
            = render chart_palace
    

- if @person
  = content_for :navigation do
    %h4 This Chart:
    %ul.nav_list
      %li= link_to 'Printable PDF', person_path(@person, :format => :pdf)
      %li= link_to '<< Go Back', people_path

