.star_relationship_container
  .controls
    = link_to new_chart_palace_star_relationship_path(chart_palace), data: {remote: true, placement: 'bottom'}, rel: 'tooltip', title: 'Add Star Info' do
      %i.icon-plus
    %a(href='#' class='show_all_relationship_data' rel="tooltip" title="Show All Info" data-placement="bottom")
      %i.icon-chevron-down
    %a(href='#' class='collapse_all_relationship_data' rel="tooltip" title="Hide All Info" data-placement="bottom")
      %i.icon-chevron-up
  %h1= chart_palace.palace.name
  - relationships = chart_palace.my_star_relationships(current_member).each do |star_relationship|
    %h5
      = star_relationship_string(star_relationship)
      %a(data-toggle="collapse" data-target="#star_relationship_#{star_relationship.id}")
        %i.icon-chevron-down.collapsed
      
    .collapse.in[star_relationship]
      - star_relationship.comments.each do |comment|
        .comment.clickable.star_relationship_comment(id="comment_#{comment.id}" data-id="#{comment.id}")
          != RedCloth.new(comment.comments).to_html
  - if relationships.empty?
    %h4 You have not entered any information that relates to the #{chart_palace.palace.name} Palace in this chart
