%h1 The #{palace.name} Palace in #{person.full_name}'s Chart

= render chart_palace

- star_relationships.each do |star_relationship|
  %h5= star_relationship_string(star_relationship)
  - star_relationship.comments.each do |comment|
    .star_relationship_comments!= RedCloth.new(comment.comments).to_html
    
:textile
  <!-- start slipsum code -->

  Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.

  Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.

  Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.

  <!-- please do not remove this line -->

  <div style="display:none;">
  <a href="http://slipsum.com">lorem ipsum</a></div>

  <!-- end slipsum code -->
  