<li data-id="{{id}}" data-value="{{friendly_id}}" data-name="{{name}}">
  {{name}}
  <input type="hidden" name="{{type}}[]" value="{{friendly_id}}" />
  <a class="move" href="#">
    <i class="pull-right icon-arrow-{{direction}}"></i>
  </a>
  <a class="remove" href="#">
    <i class="pull-right icon-remove-sign"></i>
  </a>
</li>
