.palace
  %h1= @palace.name + " Palace"
  = filter_by_star_select
  = link_to 'Add a Star Combination.', new_palace_star_relationship_path(@palace.slug), class: 'tooltippy', title: "Click here to add a new combination of stars into the #{@palace.name} Palace."
  %hr/

  - @star_relationships.each do |star_relationship|
    .star_relationship[star_relationship]
      .control_box
        = image_tag('icons/settings.png')
        .controls
          .edit= link_to 'Add or remove stars in this combo', edit_palace_star_relationship_path(@palace.slug, star_relationship)
          .delete= link_to 'Delete this combo', palace_star_relationship_path(@palace, star_relationship), method: :delete, data: {confirm: "Really delete this relationship?", remote: true }
          .add_comment_link= link_to 'Add Comment for this combo', '#'
          
      %h3 #{star_relationship.all.map{|t| link_to "#{t.star.full_name}", t.star.slug}.to_english_list.html_safe}
      - unless star_relationship.any.empty?
        %h5 With #{to_star_links(star_relationship.any).to_english_list('or').html_safe}
  
      %h3 
        Auspices For This Combination:
      = comment_box(star_relationship)
  
      %hr/
